<title>VLC controller</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<table border="1" width="100%" height="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" align="center">
      <% if @@vlc.playing? %>
          <a href="pause">
            <img src="/images/pause.jpg" width="25%">
          </a>
      <% else %>
          <a href="play">
            <img src="/images/play.jpg" width="25%">
          </a>
      <% end %>
    </td>
  </tr>

  <tr>
    <td align="center">
      <a name="prev"></a>
      <a href="#prev">
        <img src="/images/prev.jpg" width="25%">
      </a>
    </td>
    <td align="center">
      <a name="next"></a>
      <a href="#next">
        <img src="/images/next.jpg" width="25%">
      </a>
    </td>
  </tr>

  <tr>
    <td align="center">
      <a href="volup">
        <img src="/images/volup.jpg" width="25%">
      </a>
    </td>
    <td align="center">
      <a href="voldown">
        <img src="/images/voldown.jpg" width="25%">
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <a href="fullscreen">
        <img src="/images/fullscreen.jpg" width="25%">
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <%= Time.at(@@vlc.time).utc.strftime("%H:%M:%S") %>
    </td>
  </tr>
</table>